@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');


 body{

  background: #037F8C;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color:#f1f2ec;
 }
 nav {
  height: 10vh ;
  display: flex;
}

.fixed-nav-bar:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.fixed-nav-bar:active{
    color: #000
}

.fixed-nav-bar:active:after{
    background: transparent;
}

.fixed-nav-bar:hover:before{
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.fixed-nav-bar {
  display: flex; 
  background:#263F73;
  position: fixed;
  top:0px;
  left:0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  right: 700px ;
}
.fixed-nav-bar img
{
  margin: auto;
  margin-left: 0 ;
  margin-right: 0 ;
}
#head-text{
  margin-left: 0 ;
  font-size: 35px ;
  font-weight: bold ;
  color:#FFFFFF;
  padding: 0px ;
  margin-right: auto;
  display: inline-flex; 
}
#start-button{
  display: inline-flex ;
  font-size:23px ;
  font-weight: bold ;
  color:rgba(6,57,84,1);
  border:3px solid white ;
  border-radius: 5px 5px ;
  height: 60px ;
  background: white ;
  letter-spacing: 1px ;
  width: 13% ;
  margin-top: 10px ;
  margin-right: 7px ;
  justify-content:center;
  align-items: center;
  padding: 0 ;
}
#demo{
  display: inline-flex;
  font-size: 50px;
  background: white ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-family: clockFont ;
    justify-content: center; 
    align-items: center; 
    margin: auto ;

}
@font-face {
  font-family: clockFont;
  src: url(digital-7.ttf);
}
.nav-links{
  display: flex ;
  list-style: none ;
  height: 100% ;
  width: 40% ;
  justify-content: space-around; 
  align-items: center;
  margin-left: auto;
  float: right;
}
.nav-links li a{
  background-color: #F64C72 ;
  padding: 10px ;
  font-weight: bold ;
  letter-spacing: 1px ;
  border: 1px solid #F64C72 ;
  border-radius: 2px 1px ;
  box-shadow: 2px #000 ;
  color:white;
  text-decoration: none ;
  margin: 10px ;
}
.nav-img
{
  height: 48px ;
  display: inline-flex; 
  float:  left; 
  margin-top: 5px ;
  margin-left: 10px ;
}
.head-text{
  font-weight: bold; 
  color: white ;
  padding:10px;
  font-size: 35px ;
  font-family: 'Exo 2', sans-serif;

}


.quizArea{
  width: 95%;
 margin:  auto;
 margin-top: 100px ;
 padding:10px;
 position: relative;
 text-align: center;
 height: 100%;
 }
.mc_quiz{
  color: #3a5336;
  margin-bottom: 0px;
}

.short-ques
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50% ;
}

.multipleChoiceQues{
  width:90%;
  margin: auto;
  padding: 10px;
   
}
.quizBox
{
  width:90%;
  margin: auto;

}

.question{
  text-align: center;
  font-size: 0.8em;
}

.buttonArea
{
  text-align: right;
  height: 4.5em;
}

button {
  height: 4em;
  width:130px;
  padding: 1.5em auto;
  background-color:#f1f2ec;
  border: none;
  border-radius: 3px;
  color: #7aa4a9;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1); 
  
}

#next:hover,
#submit:hover,
.viewanswer:hover,
.viewchart:hover,
.backBtn:hover,
.replay:hover {
  letter-spacing: 0.8em;
}
.viewanswer,
.viewchart,
.replay{
  width: 30%;
}

.backBtn{
  width:100px;
  height: 2em;
  font-size: 0.8em;
  margin-left: 70%;
}
#next:active,
#submit:active,
.viewanswer:active,
.viewchart:active,
.backBtn:active,
.replay:active  {
  letter-spacing: 0.3em;
}

.resultArea{
  display: none;
  width:70%;
  margin: auto;
  
  padding: 10px;
  
}

.chartBox{
  width: 60%;
  margin:auto;
}

.resultPage1{
  
  text-align: center;
  
}
.resultBox h1{
  
}

.briefchart
{
  text-align:center;
}

.resultBtns{
  width: 60%;
  margin: auto;
  text-align:center;
}
.resultPage2,
.resultPage3
{
  display: none;
  text-align: center;
}

.allAnswerBox{
  width: 100%;
  margin: 0;
  position: relative;
}

._resultboard{
  position: relative;
  display:inline-block;
  width: 40%;
  padding: 2%;
    height: 190px;
  vertical-align: top;
  border-bottom: 0.6px solid rgba(255,255,255,0.2);
  text-align: left;
  margin-bottom: 4px;
  
}

._resultboard:nth-child(even){
  
  
  margin-left: 5px;
  border-left: 0.6px solid rgba(255,255,255,0.2);
}
._resultboard:nth-last-child(2),
._resultboard:nth-last-child(1){
  border-bottom: 0px;
}

._header{
  font-weight: bold;
    margin-bottom: 8px;
    height: 90px;
}

._yourans,
._correct{
  margin-bottom: 8px;
  position: relative;
  line-height: 2;
  padding: 5px; 
}
._correct{
  background: #968089 ;
}
.h-correct{
  background: #968089;

}

.h-correct:after,
._correct:after {
  line-height: 1.4;
  position: absolute;
  z-index: 499;
  font-family: 'FontAwesome';
  content: "\f00c";
  bottom: 0;
  right: 7px;
  font-size: 1.9em;
  color: #2dceb1;
}
.h-incorrect{
  background: #ab4e6b ;
}
.h-incorrect:after {
  line-height: 1.4;
  position: absolute;
  z-index: 499;
  font-family: 'FontAwesome';
  content: "\f00d";
  bottom: 0;
  right: 7px;
  font-size: 1.9em;
  color: #ff383e;
}

.resultPage3 h1,
.resultPage1 h1,
.resultPage2 h1{
  text-align: center;
  padding-bottom: 10px;
    border-bottom: 1.3px solid rgba(21, 63, 101,0.9);
    color: #3a5336;
}

.my-progress {
  position: relative;
  display: block;
  margin: 3rem auto 0rem;
  width: 100%;
  max-width: 950px;
}

progress {
  display: block;
  position: relative;
  top: -0.5px;
    left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #f1f2ec ;
  width: 100%;
  height: 2.5px;
  background: none;
  -webkit-transition: 1s;
  transition: 1s;
  will-change: contents;
}
progress::-webkit-progress-bar {
  background-color: #f1f2ec;
}
progress::-webkit-progress-value {
  background-color:#153f65;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.my-progress-indicator {
  position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #7aa4a9;
  border: 3px solid #f1f2ec;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  will-change: transform;
}
.my-progress-indicator.progress_1 {
  left: 0;
}
.my-progress-indicator.progress_2 {
  left: 9%;
}
.my-progress-indicator.progress_3 {
  left: 18%;
}
.my-progress-indicator.progress_4{
  left: 27%;
}
.my-progress-indicator.progress_5 {
  left: 36%;
}
.my-progress-indicator.progress_6 {
  left: 45%;
}
.my-progress-indicator.progress_7 {
  left: 54%;
}
.my-progress-indicator.progress_8 {
  left: 63%;
}
.my-progress-indicator.progress_9 {
  left: 72%;
}
.my-progress-indicator.progress_10 {
  left: 81%;
}
.my-progress-indicator.progress_11 {
  left: 90%;
}
.my-progress-indicator.progress_12 {
  left: 100%;
}
.my-progress-indicator.active {
  -webkit-animation: bounce .5s forwards;
          animation: bounce .5s forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  border-color: #153f65 ;
 
}

.animation-container {
  position: relative;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  will-change: padding;
  overflow: hidden;
}

.form-step {
  position: absolute;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  will-change: transform, opacity;
}

.form-step.leaving {
  -webkit-animation: left-and-out .5s forwards;
          animation: left-and-out .5s forwards;
}

.form-step.waiting {
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
}

.form-step.coming {
  -webkit-animation: right-and-in .5s forwards;
          animation: right-and-in .5s forwards;
}

@-webkit-keyframes left-and-out {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}

@keyframes left-and-out {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}
@-webkit-keyframes right-and-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes right-and-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounce {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}


ul{
  list-style-type: none;
  width: 220px;
  margin: auto;
  text-align: left;
}

li {
  position: relative;
  padding: 10px;
  padding-left: 40px;
  height:30px;
}
label{
  color: #fff;
}
label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff ;
    position: absolute;
    left: 7px;
    top: calc(50% - 13px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
  cursor: pointer;
}

.bullet {
    position: relative;
    width: 25px;
    height: 25px;
    left: -3px;
    top: 2px;
    border: 5px solid #fff ;
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked ~ .bullet {
  position:absolute;
  opacity: 1;
  animation-name: explode;
  animation-duration: 0.350s;
}

.line {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #fff ;
  opacity:0;
}

.line.zero {
  left: 11px;
  top: -21px;
  transform: translateY(20px);
  width: 2px;
  height: 10px;
}

.line.one {
  right: -7px;
  top: -11px;
  transform: rotate(-55deg) translate(-9px);
}

.line.two {
  right: -20px;
  top: 11px;
  transform: translate(-9px);
}

.line.three {
  right: -8px;
  top: 35px;
  transform: rotate(55deg) translate(-9px);
}

.line.four {
  left: -8px;
  top: -11px;
  transform: rotate(55deg) translate(9px);
}

.line.five {
  left: -20px;
  top: 11px;
  transform: translate(9px);
}

.line.six {
  left: -8px;
  top: 35px;
  transform: rotate(-55deg) translate(9px);
}

.line.seven {
  left: 11px;
  bottom: -21px;
  transform: translateY(-20px);
  width: 2px;
  height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero{
  animation-name:drop-zero;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one{
  animation-name:drop-one;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two{
  animation-name:drop-two;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three{
  animation-name:drop-three;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four{
  animation-name:drop-four;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five{
  animation-name:drop-five;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six{
  animation-name:drop-six;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven{
  animation-name:drop-seven;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes explode {
  0%{
    opacity: 0;
    transform: scale(10);
  }
  60%{
    opacity: 1;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drop-zero {
  0% {
    opacity: 0;
    transform: translateY(20px);
    height: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translateY(-2px);
    height: 0px;
    opacity:0;
  }
}

@keyframes drop-one {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(-55deg) translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-two {
  0% {
    opacity: 0;
    transform: translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-three {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(55deg) translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-four {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(55deg) translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-five {
  0% {
    opacity: 0;
    transform: translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-six {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(-55deg) translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-seven {
0% {
    opacity: 0;
    transform: translateY(-20px);
    height: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translateY(2px);
    height: 0px;
    opacity:0;
  }
}

@media screen and (max-width: 1000px)
{
  .fixed-nav-bar img
  {
    display:none ;
  }
  .head-text
  {
    display: none;
  }
  #demo
  {
    margin-left: 10px;
  }
  #start-button
  {
    width: 30% ;
  }

}
@media screen and (max-width: 1269px) and (min-width: 1000px)
{
  #start-button
  {
    width: 17% ;
  }
}