<!DOCTYPE html>
<html>
    <head>
        <title>TEST PORTAL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="student.css">
        <link rel="icon" href="tablet.png" sizes="16x16">
        <script>
        if (sessionStorage.getItem("uid") === null) {
          window.location.href="/" ;
        }
        </script>
    </head>
    <body>
    <nav>
      <div class="nav-img">
        <img width="48px" height="48px" src="tablet.png">
        <span class="head-text">LITLE <sub>by Dr. EDU</sub></span>
      </div>
    </nav>
    <h1 id="sub"> THE TEST IS SUBMITTED FOR EVALUATION </h1>
    <img id="congo" src="giphy.gif">
</body>
</html>
